@charset "utf-8";
@import url(https://cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-full.css);
* {
    box-sizing: border-box;
}
body {
    margin:30px;
    font-family: 'D2Coding', monospace;
}
h1 {
    font-size:1.3em;
    font-weight:400;
}
h2 {
    font-size:1em;
}
a {
    text-decoration:none;
    color:#333;
}
a:hover {
    background:#ccc;
}